@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=IM+Fell+DW+Pica+SC&family=IM+Fell+DW+Pica:ital@0;1&display=swap");
/* Todo: Fix the D20 Logo's styling in Header */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  font-family: "IM Fell DW Pica", serif;
  font-size: 1.2rem;
  line-height: 1.4;
  background: #d6cca9;
  height: 100vh -50px;
}
p {
  margin: 10px;
}
section {
  display: flex;
  justify-content: center;
}
h1 {
  margin-bottom: 10px;
  border-bottom: 3px solid #8b0000;
  font-weight: bold;
  line-height: 1.2;
}
h2 {
  margin-bottom: 8px;
  text-align: center;
  border-bottom: 3px solid #8b0000;
}
h3 {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  padding: 3px;
}
footer {
  padding-top: 20px;
  text-align: center;
  font-size: 1rem;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px; /* Temp */
}
.cleanser{
  border: 1px solid black;
}
.prompt{
  margin-top: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background-color: #facf7f;
  color: black;
  border-radius: 25px;
  border: 2px solid black;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}
.headerContainer {
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}
.infoContainer {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
.headerLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 42px;
}
.d20Header {
  max-width: 30px;
}
.headerText {
  background-color: #facf7f;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  max-width: 60%;
  margin-right:20px;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  font-size: 1.4rem;
  background: #181818;
  color: lightgray;
  height: 50px;
}
.navLink:hover {
  color: #8b0000;
}
.logo {
  font-family: "IM Fell DW Pica", serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  width: 110px;
  color: lightgray;
  text-decoration: none;
}
.logo:hover {
  color: #8b0000;
}
.navList {
  display: flex;
  list-style-type: none;
}
.navListItem {
  margin-right: 10px;
}
.navLink {
  color: lightgrey;
  text-decoration: none;
  font-size: 1.5rem;
}
.dwd {
  min-width: 300px;
  max-width: 60%;
}
.d20 {
  max-width: 16px;
}
.rabble {
  min-width: 300px;
  max-height: 500px;
  background-color: #facf7f;
}
.testImage {
  width: 100%;
  height: 350px;
}
.optionBoxes {
  display: flex;
  justify-content: space-between;
}
.box {
  background-color: #facf7f;
  margin: 10px;
  flex: 1;
  border: 2px solid black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
  padding: 10px 10px;
  text-align: center;
  height: auto;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.button {
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 4px 2px;
  padding: 16px 32px;
  border: none;
  border-radius: 20%;
  transition-duration: 0.4s;
  cursor: pointer;
}
.cleanseButton {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  border: 3px solid #8b0000;
  background-color: #181818;
}
.fillButton {
  background-color: #181818;
  color: darkgray;
  font-size: 1.1rem;
  font-weight: bold;
  border: 3px solid #8b0000;
}
.fillButton:hover {
  background-color: gray;
  color: #181818;
}
.cleanseButton:hover {
  background-color: #d6cca9;
  border-color: darkgreen;
  color: #181818;
}
.testContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.testimonials {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  height: 100%;
  width: 315px;
  background-color: #181818;
  color: lightgray;
  border-radius: 25px 25px 0 0;
  border: 2px solid black;

  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}
.cardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #facf7f;
  color: black;
}
.cardContainer p {
  border-top:3px solid #8b0000;
}
.cardFooter {
  width: 100%;
  margin-right: 20px;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
}
.notFound{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media (max-width: 990px) {
  .headerContainer {
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
  }
  .headerText{
    margin-right:0px;
  }

  .optionBoxes {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .navLink {
    font-size: 1rem;
  }
  .testContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .cardContainer {
    flex-direction: column;
  }
}